*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
header{
  background-color:greenyellow;
  
}
aside:first-of-type{
  background-color: aqua;
  text-align: center;
}
main{
  background-color:orange;
}
aside:last-of-type{
  background-color: rgb(0, 113, 139);
  text-align: center;
}
footer{
  background-color: yellow;
  text-align: center;
  padding: 10px;
  font-size: medium;
color: black;
  
}
.wrapper{
  display: grid;
  background-color:wheat ;
  height: 100%;

  grid-template-columns: 200px minmax(600px, 1fr) 200px;
  grid-template-rows: 100px 1fr 100px;

  grid-template-areas:
    "header header header"
    "aside-1 main aside-2"
    "footer footer footer";
}
header{
  /* grid-column-start: 1;
  grid-column-end: -1; */

  /* grid-column: 1/-1; */

  /* grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-row: 1/2; */

  grid-area: header;
}
aside:first-of-type{
  /*grid-column-start:1;
  grid-row-start:2;*/

  grid-area: aside=1;
}
main{
  grid-area: main;

}
footer{
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-area: footer; 
}
header{
  display: flex;
  align-items: center;
  padding-inline:15px ;
  justify-content: space-between;
  font-size: larger;
}
ul{
  list-style:none ;
  display: grid;
  grid-auto-flow: column;
  column-gap: 3rem;
}
main{
  display: grid;
  gap: 15px;
  padding:5rem ;
  /* grid-template-columns: repeat(auto-fill, 300px); */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  align-content: flex-start;
}
main.box{
height: 200px;
border-radius: 5px ;
}
@media(max-width:800px) {
  header{
  flex-direction: column;  
  justify-content:space-evenly;
  }
  
.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr repeat(2, minmax(100px, 20%)) 100px;
  grid-template-areas:
    "header"
    "main"
    "aside-1"
    "aside-2"
    "footer";
}
}

